# **Assignment - 1**
# Roll Number: 102303738

In [2]:
import pandas as pd
import os
import json

# --- Kaggle API Setup and Data Download ---
kaggle_credentials_dir = os.path.expanduser("~/.kaggle")
os.makedirs(kaggle_credentials_dir, exist_ok=True)

kaggle_api_key_token = "84026a5b3078da99a99d3d9bc58c7e0a" # This is the actual key part.
kaggle_user_name = "abhimanyuthakur666"

# Create the 'kaggle.json' file with the authentication details.
kaggle_json_file_path = os.path.join(kaggle_credentials_dir, "kaggle.json")
with open(kaggle_json_file_path, "w") as f:
    json.dump({"username": kaggle_user_name, "key": kaggle_api_key_token}, f)

os.chmod(kaggle_json_file_path, 0o600)

# --- Dataset Download and Loading ---

# Check if the 'data.csv' file already exists to avoid re-downloading.
if not os.path.exists('data.csv'):
    !pip install -q kaggle
    !kaggle datasets download -d shrutibhargava94/india-air-quality-data
    !unzip -o india-air-quality-data.zip

# Read the downloaded dataset into a pandas DataFrame.
df = pd.read_csv('data.csv', encoding='latin-1', low_memory=False) # 'encoding='latin-1'' is used to handle potential character encoding issues in the CSV.
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [3]:
df.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

# Imports

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:

df = pd.read_csv('data.csv', encoding='latin-1', low_memory=False)

In [6]:
# Extract the 'no2' column from the DataFrame
x = df['no2'].dropna().values

In [7]:
# Define 'r'
r_seed = 102303738


print(f"Remainder of r_seed when divided by 7: {r_seed % 7}")
print(f"Remainder of r_seed when divided by 5: {r_seed % 5}")

# Calculate 'ar' and 'br' based on the modulo results.
ar_param = 0.05 * (r_seed % 7)
br_param = 0.3 * (r_seed % 5 + 1)

# Display the calculated parameters.
print(f"ar = {ar_param}")
print(f"br = {br_param}")

Remainder of r_seed when divided by 7: 5
Remainder of r_seed when divided by 5: 3
ar = 0.25
br = 1.2

In [8]:
# Apply a transformation to the 'x' data by adding a sinusoidal component.
z = x + ar_param * np.sin(br_param * x)

# Estimating μ, λ, c

In [10]:
# --- Parameter Estimation for the Transformed Data ---

# Calculate the mean
mean_z = np.mean(z)

# Calculate the variance
variance_z = np.mean((z - mean_z) ** 2)

# Calculate 'lambda_'
lambda_para = 1 / (2 * variance_z)

# Calculate 'c',
c_normalization = np.sqrt(lambda_para / np.pi)

# Print the calculated parameters.
print(f"Mean (mu) of z: {mean_z}")
print(f"Lambda parameter: {lambda_para}")
print(f"Normalization constant (c): {c_normalization}")

Mean (mu) of z: 25.804148934144695
Lambda parameter: 0.0014596395020856768
Normalization constant (c): 0.021554992084857203

In [11]:
z_data_shuffled = np.random.permutation(z)
mean_shuffled_z = np.mean(z_data_shuffled)
variance_shuffled_z = np.mean((z_data_shuffled - mean_shuffled_z)**2)
lambda_para_shuffled = 1 / (2 * variance_shuffled_z)
c_normalization_shuffled = np.sqrt(lambda_para_shuffled / np.pi)

# Display the calculated parameters for the shuffled data.
print(f"Mean of shuffled z: {mean_shuffled_z}")
print(f"Lambda parameter for shuffled z: {lambda_para_shuffled}")
print(f"Normalization constant for shuffled z: {c_normalization_shuffled}")

Mean of shuffled z: 25.804148934144706
Lambda parameter for shuffled z: 0.0014596395020856768
Normalization constant for shuffled z: 0.021554992084857203